.timer__container {
  position: relative;
  top: -25px;
  margin: auto;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: rgb(172, 170, 167);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  color: #fff;
  font-size: 18px;
}
.timer__animation {
  animation: animate-timer 1s infinite;
}
@keyframes animate-timer {
  100% {
    font-size: 40px;
    color: orange;
  }
}
